@import "variables";

body{
    margin: 0;
    font-family: Roboto;
    header{
        nav{
            display: flex;
            width: 80%;
            align-items: baseline;
            margin: auto;

            

            h1{
                width: 60%;
                @media (max-width: 768px){
                    width: 80%;
                };
            }
            #myLinks{
                display: flex;
                width: 60%;
                @media (max-width: 768px){
                    display: none;
                    text-align-last: end;
                    margin-bottom: 10%;
                    margin-right: 15%;
                };
                ul{
                    width: 50%;
                    @media (max-width: 768px){
                        width: initial;
                    };
                    
                    li{
                        list-style: none;
                        display: flex;
                        justify-content: space-evenly;
                        @media (max-width: 768px){
                            display: flex;
                            flex-direction: column;
                        };
                        a{
                            text-decoration: none;
                            color: $texte;
                            @media (max-width: 768px){
                                margin-bottom: 20%;
                                font-size: 1.5em;
                            };
                        }
                    }
                }
                .bouton1{
                    font-size: 15px;
                    padding: 6px 25px;
                    border-radius: 20px;
                    background-color: $fond;
                    color: white;
                    border: none;
                    cursor: pointer;
                    @media (max-width: 768px){
                        width: max-content;
                        margin-bottom: 10%;
                        padding: 15px 8px;
                        margin-top: 20%;
                    };
                }
            }
            .icon{
                color: black;
                display: none;
                @media (max-width: 768px){
                    display: contents;
                    font-size: 1.5em;
                };
            }
        }
    }
    .hero{
        background-image: url(./assets/hero.jpg);
        height: 90vh;
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width: 768px){
            background-position: center;
            height: 60vh;
        };
        .text{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60%;
            margin: auto;
            color: white;
            padding-top: 400px;
            text-align: center;
            @media (max-width: 768px){
                padding-top: 100px;
            };
        }
        .star{
            display: flex;
            align-items: baseline;
            color: white;
        }
    }
    .section2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 60%;
        margin-bottom: 5vh;
        margin-top: 5vh;
        
        h2{
            color: $fond;
        }
        p{
            text-align: center;
        }
    }
    .section3{
        background-color: $fond;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 150px;
        @media (max-width: 768px){
            padding-bottom: 10%;
        };
        
        h4{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 2em;
            padding-top: 3%;
            color: white;
            padding-bottom: 5%;
        }
        .groupe{
            display: flex;
            text-align: center;
            width: 60%;
            justify-content: space-between;
            color: white;
            padding-bottom: 150px;
            @media (max-width: 768px){
                flex-direction: column;
                padding-bottom: 5%;
            };

            .block{
                @media (max-width: 768px){
                    margin-bottom: 10%;
                };
            }

            
        }
        .bouton2{
            font-size: 1em;
                padding: 6px 25px;
                border-radius: 20px;
                background-color: $fond;
                color: white;
                border: 2px solid white;
                cursor: pointer;
                @media (max-width: 992px){
                    font-size: 1.5em;
                };
        }
    }
    .map{
        background-image: url(./assets/sectionmap.png);
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        @media (max-width: 992px){
            background-position: center;
        };
        @media (max-width: 768px){
            background-position: center;
            height: 60vh;
            background-size: auto;
        };
        @media (max-width: 430px){
            background-position: center;
            height: 65vh;
            background-size: auto;
        };

    }
    footer{
        background-color: $footer;
        color: white;
        padding-top: 1%;
        
        .top{
            display: flex;
            justify-content: space-between;
            
            
            
            
            ul{
                width: 45%;
                @media (max-width: 768px){
                    width: 50%;
                };
                
                li{
                    list-style: none;
                    display: flex;
                    justify-content: space-evenly;
                    a{
                        text-decoration: none;
                        color: white;
                        @media (max-width: 768px){
                            font-size: 0.8em;
                        };
                    }
                }
            }

            .icon{
                width: 20%;
                padding-right: 10%;
                display: flex;
                justify-content: space-evenly;
                align-self: center;
                @media (max-width: 768px){
                    font-size: 0.8em;
                };
                i{
                    border: 2px solid white;
                    border-radius: 50%;
                    padding: 14px 14px;
                    
                    
                }
                .fa-facebook{
                    padding: 14px 18px;
                }
            }
        }
        
        
        .politique{
            display: flex;
            justify-content: flex-end;
            width: 80%;
            margin: auto;
            @media (max-width: 768px){
                justify-content: center;
            };
           
            p{
                width: 25%;
                font-size: 0.8em;
                @media (max-width: 768px){
                    font-size: 0.7em;
                    width: 30%;
                };
            }
        }
    }
}