@import "variables";

body{
    header{
        nav{
            display: flex;
            width: 80%;
            align-items: baseline;
            margin: auto;
            h1{
                width: 60%;
            }
            ul{
                width: 20%;
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: $texte;
                    }
                }
            }
            .bouton1{
                font-size: 15px;
                padding: 6px 25px;
                border-radius: 20px;
                background-color: $fond;
                color: white;
                border: none;
                cursor: pointer;
            }
        }
    }
    .hero{
        background-image: url(./assets/hero.jpg);
        height: 90vh;
        background-repeat: no-repeat;
        background-size: cover;
        .text{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60%;
            margin: auto;
            color: white;
            padding-top: 350px;
        }
    }
    .section2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 60%;
        margin-bottom: 50px;
        margin-top: 50px;
        h2{
            color: $fond;
        }
    }
    .section3{
        background-color: $fond;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 150px;
        
        h4{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 20px;
            padding-top: 6%;
            color: white;
            padding-bottom: 80px;
        }
        .groupe{
            display: flex;
            margin: auto;
            width: 60%;
            justify-content: space-between;
            color: white;
            padding-bottom: 150px;

            
        }
        .bouton2{
            font-size: 15px;
                padding: 6px 25px;
                border-radius: 20px;
                background-color: $fond;
                color: white;
                border: 2px solid white;
                cursor: pointer;
        }
    }
    .map{
        background-image: url(./assets/section#map.png);
        height: 100vh;
        background-size: cover;
    }
    .footer{
        background-color: $footer;
    }
}